@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('../font/sega-logo/SEGA.TTF') format('woff');
  }
  html{
    margin: 0;
    /* width: 100%;
    height: 100%; */
  }
body {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  background: linear-gradient(
    90deg,
    #007F80,
    #071E53
  );
  
}
.mar-title{
  font-family: "SEGA LOGO FONT";
  font-size: 40px;
  font-weight: 200;
  color: #0CCAC4;
  text-align:  center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

 .style-input{
  display: flex;
justify-content: center;
  
} 
.search{
  width: 30%;
  height: 40px;
  border: 1px solid #FFFFFF;
  outline-style: none;
  font-size: 14px;
}
.style-bot{
  text-decoration: none;
  color: #000000;
}


@media (max-width: 1900px) {
  .mar-title{
    font-size: 50px;
  }
  .search{
    height: 50px;
  }
 
}
@media (max-width : 930px){
  .search{
    width: 50%;
    height: 50px;
    font-size: 20px;
  }
 
}

























































/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */